.album_full {
    background-color: #F6F6F3;
    width: 100%;
}
.album_title {
    background-color: #F6F6F3;
    text-align: center;
    width: 100%;
    padding: 1%;
    height: auto;
}

.album_images {
    text-align: center;
    padding: 0 4% 0 4%;
}

.album_image {
    padding: 0.5%;
}