.about-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about-center {
  width: 70%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.about-left img {
  width: 100%;
  height: auto;
}

.about-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  margin-left: 3%;
  width: 60%;
}
.about-text-container {
  padding: 5%;
  background-color: #f6f6f3;
  height: 90%;
  text-align: justify;
}
.about-text-container h2 {
  font-family: BenthamRegular;
  font-size: 50px;
  margin: 0;
}
.about-text-container p {
  font-family: MontserratMedium;
  font-size: 22px;
}

@media only screen and (max-width: 1300px) {
  .about-text-container h2 {
    font-family: BenthamRegular;
    font-size: 50px;
    margin: 0;
  }
  .about-text-container p {
    font-family: MontserratMedium;
    font-size: 22px;
  }
}

@media only screen and (max-width: 750px) {
  .about-text-container h2 {
    font-family: BenthamRegular;
    font-size: 25px;
    margin: 0;
  }
  .about-text-container p {
    font-family: MontserratMedium;
    font-size: 18px;
  }
  .about-center {
    width: 100%;
  }
  .about-left {
    width: 100%;
  }
  .about-right {
  margin-left: 0;
  width: 100%;
  }
}
