a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: MontserratMedium;
  font-size: x-large;
}

.upper-container {
  width: 100%;
  padding: 3% 0 3% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-upper-div {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-right > p {
  padding: 3% 0 3% 0;
}

.footer-right > div {
  padding: 3% 0 3% 0;
}

.footer-icons-container {
  display: flex;
}

.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.down-container {
  padding: 4% 0 4% 0;
  text-align: center;
}

#ig {
  width: "55px";
  padding-top: "7px";
}

#yp {
  width: "73px";
  padding-top: "6px";
  margin-left: "-21px";
}

/*-----------------media----------------*/

@media screen and (max-width: 500px) {
  .footer-container {
    align-items: center;
    justify-content: center;
  }
  .center-upper-div {
    width: 95%;
    flex-direction: column;
  }
  .footer-left {
    text-align: center;
    line-height: 150%;
  }
  .footer-left > h1 {
    padding: 10% 0 10%;
  }
  .footer-right {
    text-align: center;
  }
  .footer-icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #ig {
    width: 110px;
  }

  #yp {
    width: 146px;
  }
}
